<p>totalWordCount:<%= @wtotalWordCountord %></p>
<p>correctWordCount:<%= @correctWordCount %></p>
<p>totalWrongGuessCount:<%= @totalWrongGuessCount %></p>
<p>score:<%= @score %></p>


<a href="/cities/submit">Submit</a>
